2019-05-29-17-04-03.063-VBoxSVC-19266.log
2019-05-31-01-46-38.021-VBoxSVC-2579.log
NC000962_3.fasta
NC000962_3.gbk
NexteraPE-PE.fa
SpoTyping_plot.r
core.aln
core.full.aln
core.nway.tab
core.tab
core.txt
core.vcf
ref/
SpoTyping.py
